
.wapper {
    background-color:black ; 
    padding: 20px;
    margin-top: 20px;
    padding: 20px;
    position:relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
}

#registration-login-form {
    position: relative; /
    
}

.post-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}
.btn-register-login {
    padding: 10px 20px; 
    font-size: 16px;
    background-color: #fff; 
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.btn-register-login:hover {
    background-color: #333; 
    color: #fff; 
}